/* .profile-div-1{
    max-width: 1000px;
    margin: 12px auto;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blueviolet;
    height: 100%;
  } */



  /*     background-color:rgba(0, 0, 0, 0.05) ; */


  .custom-button {
    background-color: #70dbd0;
  }
  